@model Workforce.Models.EmplogginModel
@{
    ViewBag.Title = "Emploggin";
    Layout = "~/Views/_Layout.cshtml";
}
<body class="pb-0">
    <div class="wrapper-page">
        <div class="account-pages">
            <div class="account-box">
                <div class="account-logo-box bg-primary p-4">
                    <h3 class="m-0 text-center text-white">Loggin</h3>
                </div>
                <div class="account-content">
                    @ViewBag.Success
                    @using (Html.BeginForm("Emploggin", "Home", FormMethod.Post, new { }))
                    {
                        @Html.ValidationSummary(true, "", new { calss = "text-danger" })

                        <div class="form-group  mb-4 row">
                            <div class="col-12">
                                <label for="emailaddress">Email Address :</label>
                                @Html.TextBoxFor(i => i.Email, new { @class = "form-control form-control-sm", placeholder = "Email", id = "textname" })
                                @Html.ValidationMessageFor(i => i.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row mb-4">
                            <div class="col-12">
                                <label for="password">Password :</label>
                                @Html.PasswordFor(i => i.Password, new { @class = "form-control form-control-sm", placeholder = "Password", id = "textname" })
                                @Html.ValidationMessageFor(i => i.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row mb-4">
                            <div class="col-12">
                                <div class="checkbox checkbox-success">
                                    <input id="remember" type="checkbox" checked="">
                                    <label for="remember">
                                        Remember me
                                    </label><br />
                                    <a href="pages-recoverpw.html" class="text-muted float-right">@Html.ActionLink("Forgot Password?", "ForgotPassword", "Home")</a>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <input type="submit" class="btn btn-md btn-block btn-dark waves-effect waves-light" value="Sign In" />
                            </div>
                        </div>

                    }

                    <div class="row mt-4">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Don't have an account? <a href="pages-register.html" class="text-dark m-l-5"><b>Sign Up</b></a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end account-box-->

    </div>
</body>



